body {
    font-size: 16px;

    margin: 0;
    font-family: 'Karla', sans-serif;

}

#top {
    padding: 40px;
}

p {
    width: fit-content;
}

h4 {

    color: white;


}

#heading {
    color: hsl(179, 62%, 43%);
}

#yellow {
    color: hsl(71, 73%, 54%);
}

#gray {
    color: hsl(218, 22%, 67%);
}



.fee {
    /* width: fit-content; */
    color: rgb(234, 226, 215);

}

#light {
    color: hsl(204, 43%, 93%);
}

#full-access {


    color: whitesmoke;
    /* width: 300px; */
}

#price {
    color: white;
    padding-right: 20px;
    font-size: xx-large;

}








#first {

    padding: 100px 40px 60px 170px;
    background-color: hsl(179, 62%, 43%);



}

p {
    margin-top: 5px;
}

#second {


    padding: 100px 0px 60px 200px;

    background-color: hsl(179, 45%, 54%);



}

.btn {
    margin-top: 30px;
    height: 65px;
    width: 300px;
    background-color: hsl(71, 73%, 54%);
    
}
.btn:hover{
    background-color:hsl(71, 100%, 50%) ;
}