body {
    font-size: 16px;
    width: 100%;
    margin: 0;
    font-family: 'Karla', sans-serif;

}


h4 {
    font-size: 30px;
   
}
#heading{
    color: hsl(179, 62%, 43%);
}
#yellow {
    color: hsl(71, 73%, 54%);
}
#gray{
    color: hsl(218, 22%, 67%);
}

.top {
    position: relative;
    top: 0px;
    padding-left: 50px;
    padding-top: 50px;
    font-size: larger;

}

.fee {
    text-align: left;
    color: rgb(234, 226, 215);

}
#light{
    color:hsl(204, 43%, 93%);
}
#full-access {
    text-align: left;
    color: whitesmoke;
    width: 500px;
}

#price {
    color: white;
    padding-right: 20px;
    font-size: xx-large;

}


/*.lower{
    display: block;
 
    margin-top: 50px;
    @media (min-width:768px) {
        display: grid;
        grid-template-columns:  1fr ;
       
         column-gap: 0;
    }
  
}
.box {
    

    font-size: xx-large;
    color: white;

    padding: 150px;
  

    
}
*/
#why {
    color: white;
}

#first {
   
    padding:100px 40px 60px 170px;
    background-color: hsl(179, 62%, 43%);
 
    font-size: larger;
   
    
}
p{ 
    margin-top: 5px;
}
#second {
    
   
    padding:100px 40px 60px 170px;

    background-color: hsl(179, 45%, 54%);
    
    font-size: larger;
   
}

button {
    margin-top: 20px;

   
    box-shadow: .5px 3px gray;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    background-color: hsl(71, 73%, 54%);
}